<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/public/css/styles.min.css" />
        <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"></script>
        <title>Everato - Home</title>
    </head>
    <body>
        <h2 class="text-blue-400">Welcome to Everato!</h2>
        <p>
            Your modern event management platform.
            <br />
            Explore events, manage tickets, and more.
        </p>
    </body>
    <script src="/public/js/script.js"></script>
</html>
