package home

import "github.com/dtg-lucifer/everato/templates/pages"

templ Home() {
	@pages.Layout() {
		<h2 class="text-blue-400">Welcome to Everato!</h2>
		<p>
			Your modern event management platform.
			<br/>
			Explore events, manage tickets, and more.
		</p>
	}
}
